body {
  font-family: 'Raleway', sans-serif;
  background: #EBE6DB;
}

@font-face {
  font-family: 'norwesterregular';
  src: url('https://static1.squarespace.com/static/57dab55ad2b85760483591ab/t/587c41221b631b453a472ceb/1484538146934/norwester-webfont.woff2') format('woff2'), url('https://static1.squarespace.com/static/57dab55ad2b85760483591ab/t/587c41221b631b453a472ceb/1484538146934/norwester-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  font-family: norwesterregular;
}

a {
  color:#F96156;
  font-weight:bold;
}
a:hover {
  color:#c1342a;
}

@media (max-width:543px) {
  .cwn-schedule {
    padding-left:0;
    padding-right:0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .cwn-schedule {
    width: 100%;
  }
}

.footer-spacer {
  height:80px;
}
@media (min-width: 544px) {
  .footer-spacer {
    height:60px;
  }
}

footer.fixed-bottom {
  background:#000;
  color:#fff;
}

footer.fixed-bottom p {
  margin: 10px 0;
}

@media (min-width: 992px) {
  footer.fixed-bottom p {
    font-size:1.5rem;
  }
}

.jumbotron .cwn-sponsors, footer .schedule-url {
  display:none;
}
