@media (min-width: 544px) {
    .card-deck {
      margin-left: -8px;
      margin-right: -8px;
    }
    .card-deck .card {
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 16px;
    }
    .card-deck .card:not(:last-child) {
      margin-right: 8px;
    }
    .card-deck .card:not(:first-child) {
      margin-left: 8px;
    }
  }