.jumbotron {
    padding:2rem 4%;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/schedule-bg-2400.jpg) 50% 50% transparent;
    background-size:cover;
    color:#e8e2d0;
    text-align:center;
    border-radius:0;
  }

  .cwn-logo {
    max-width:300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2rem;
  }

  .cwn-intro, .cwn-sponsors {
    margin-bottom:2rem;
  }
  
  .cwn-info {
    font-size:1.75rem;
  }

  /* Only on RER signage */
@media screen and (min-width: 1080px) and (min-height: 1920x) {
    .cwn-intro, .cwn-location {
      display:none;
    }
    .cwn-sponsors {
      display:block;
    }
  }

  .cwn-date-time:before {
    content: " | "
  }
  .cwn-time:before {
    content: " - "
  }
  .cwn-location:before {
    content: " | "
  }
  @media (max-width:543px) {
    .cwn-info {
      font-size:1.5rem;
    }
    .cwn-date-time, .cwn-location {
      display: block;
    }
    .cwn-date-time:before, .cwn-location:before {
      content: "";
    }
  }